%h1
  Cloud Upload Configuration

%p
  To upload your images to one of the cloud service providers we support, you need to provide credentials in order to allow OBS
  to upload images to your account.

%ul
  %li
    = link_to 'Configure Amazon EC2 Credentials', cloud_ec2_configuration_path
  - if @azure_feature_active
    %li
      = link_to 'Configure Microsoft Azure Credentials', cloud_azure_configuration_path
